* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    font-family: "Fira Code", "JetBrains Mono NL", "Monospace";
    background-color: black;
    color: white;
    text-align: center;
}

body {
    text-align: center;
   
    background-image: url("background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* help resize the image to fit the screen */


footer {
    color: white;
    background: #4e0b4e;
    font-family: "Fira Code", "JetBrains Mono NL", "Monospace";

}

.sections {
    background-color: #4e0b4e;
}
